h1 {
  display: flex;
  justify-content: center;
}


.wrapper {
  display: flex;
  flex-direction: column;

  margin: auto;
  width: 30%;
  border: 3px solid black;
  border-radius: 15px;
}

.top {
  border-bottom: 3px solid black;

  display: flex;
  flex-direction: column;

  height: 400px;
}

#openModal {
  align-self: flex-end;
  padding-top: 50px;
  padding-right: 50px;
}

#moneyTotal {
  align-self: center;
  font-size: 4em;
  margin: 20px;
}

.leftToSpend {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#leftToSpendP {
  align-self: center;
}

#calculatedMoneyLeft {
  font-size: 2.5em;
  align-self: center;
}

.bottom {
  display: flex;
  flex-direction: column;

  height: 700px;
  overflow-x: hidden; 
  overflow-y: scroll; 

}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  
  padding-top: 50px;
  padding-right: 50px;
}

.incomeExpenseTab {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.dayBox {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin: auto;
  width: 70%;
  padding-bottom: 20px;
}

.dayBox .boxDate {
  padding-top: 20px;
  padding-left: 20px;

  font-size: 1.5rem;
}

.incomeBox {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;

  border: 2px solid black;

}

.expenseBox {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;

  border: 2px solid black;

}

.dataInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#salaryInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#expensesInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#goalInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoText {
  font-size: 1.5rem;
  margin: 4px;
}


.redText {
  color: red;
}

.greenText {
  color: green;
}